In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("5 RoostersORDER ONLINE_reviews.csv")
data

,Name,Stars,Review
0,Mohamed Shan Shan,5,مطعم محترم ومحافظ علي مستواه
1,Marwa,4,الاكل كان جميل و حلو بس جاه متاخر و مكنش فيه ك...
2,Noor Essam,1,جابلى تسمم والفراخ بايظة محدش ياكل منه تانى مع...
3,Dina,4,Order arrived late
4,Ahmed Youssef,1,الاكل وصل بارد
...,...,...,...
922,sara,5,الاكل تحفه و بيوصل سخن جداً و نضيف ❤️❤️❤️❤️ و ...
923,Sohaila Tamer,5,مطعم حلو جدا وخدمه عاليه جدا والاكل جميل شكرا
924,mohamed dahab,5,والله من أروع ما يكون ساندوتش الميجا كبير وتحف...
925,mido,1,الاورد قاعد اكتر من ساعتان................
926,mohamed dahab,5,طعم الاكل روووعه والاوردر وصل بسرعه جدا خدمه م...

In [15]:
new_data = data.drop_duplicates()

In [16]:
new_data

,Name,Stars,Review
0,Mohamed Shan Shan,5,مطعم محترم ومحافظ علي مستواه
1,Marwa,4,الاكل كان جميل و حلو بس جاه متاخر و مكنش فيه ك...
2,Noor Essam,1,جابلى تسمم والفراخ بايظة محدش ياكل منه تانى مع...
3,Dina,4,Order arrived late
4,Ahmed Youssef,1,الاكل وصل بارد
...,...,...,...
922,sara,5,الاكل تحفه و بيوصل سخن جداً و نضيف ❤️❤️❤️❤️ و ...
923,Sohaila Tamer,5,مطعم حلو جدا وخدمه عاليه جدا والاكل جميل شكرا
924,mohamed dahab,5,والله من أروع ما يكون ساندوتش الميجا كبير وتحف...
925,mido,1,الاورد قاعد اكتر من ساعتان................
926,mohamed dahab,5,طعم الاكل روووعه والاوردر وصل بسرعه جدا خدمه م...