In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('Airline_Delay_Cause.csv')

In [34]:
data

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318012,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
318013,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
318014,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
318015,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
318016,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [35]:
def Classes(x):
    if x<=70:
        return 'A'
    elif x < 100:
        return 'B'
    else:
        return 'C'

data['ArrClasses'] = data['arr_flights'].apply(lambda x : Classes(x))
data['ArrClasses'].value_counts()

ArrClasses
C    178817
A    101968
B     37232
Name: count, dtype: int64

In [36]:
data.isna().sum()

year                     0
month                    0
carrier                  4
carrier_name             4
airport                  3
airport_name             0
arr_flights            493
arr_del15              732
carrier_ct             492
weather_ct             494
nas_ct                 488
security_ct            488
late_aircraft_ct       488
arr_cancelled          488
arr_diverted           490
arr_delay              494
carrier_delay          492
weather_delay          488
nas_delay              488
security_delay         490
late_aircraft_delay    488
ArrClasses               0
dtype: int64

In [37]:
data.dropna(inplace=True)

In [38]:
data.isna().sum()

year                   0
month                  0
carrier                0
carrier_name           0
airport                0
airport_name           0
arr_flights            0
arr_del15              0
carrier_ct             0
weather_ct             0
nas_ct                 0
security_ct            0
late_aircraft_ct       0
arr_cancelled          0
arr_diverted           0
arr_delay              0
carrier_delay          0
weather_delay          0
nas_delay              0
security_delay         0
late_aircraft_delay    0
ArrClasses             0
dtype: int64

In [39]:
data.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,ArrClasses
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0,C
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0,B
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0,A
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0,B
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0,C

In [40]:
data.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'ArrClasses'],
      dtype='object')

In [41]:
data.drop(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name'],axis=1,inplace=True)
data.head()

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,ArrClasses
0,136.0,7.0,5.95,0.00,0.05,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0,C
1,91.0,16.0,7.38,0.00,2.54,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0,B
2,19.0,2.0,0.13,0.00,1.00,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0,A
3,88.0,14.0,7.26,0.76,4.35,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0,B
4,181.0,19.0,13.84,0.00,3.07,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0,C

In [42]:
x = data.drop(['ArrClasses'],axis=1)
y = data['ArrClasses']

In [43]:
from sklearn.feature_selection import SelectPercentile ,chi2, f_classif

In [44]:
FeatureSelection = SelectPercentile(score_func= f_classif,percentile=50) # chi2 does not work with negative values

In [45]:
x_selected = FeatureSelection.fit_transform(x,y)
pd.DataFrame(x_selected)

             0      1       2       3        4       5       6
0        136.0    7.0    5.95    1.00    255.0   222.0    29.0
1         91.0   16.0    7.38    6.09    884.0   351.0   452.0
2         19.0    2.0    0.13    0.88    138.0     4.0    28.0
3         88.0   14.0    7.26    1.64    947.0   585.0   202.0
4        181.0   19.0   13.84    2.09    808.0   662.0    59.0
...        ...    ...     ...     ...      ...     ...     ...
317256   480.0   84.0   25.69   21.26   3744.0   978.0  1579.0
317257   505.0  111.0   21.78   13.17   4284.0  1376.0   638.0
317258   146.0   36.0    6.99    2.15    896.0   205.0    84.0
317259    95.0   13.0    3.66    1.42    367.0   120.0    37.0
317260  3466.0  454.0  121.15  102.33  16853.0  5384.0  5449.0

[317261 rows x 7 columns]

In [46]:
FeatureSelection.get_support()

array([ True,  True,  True, False, False, False,  True, False, False,
        True,  True, False, False, False,  True])

In [47]:
x.columns

Index(['arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [48]:
pd.DataFrame(x_selected,columns=[i for i,j in zip(x.columns,FeatureSelection.get_support()) if j])

,arr_flights,arr_del15,carrier_ct,late_aircraft_ct,arr_delay,carrier_delay,late_aircraft_delay
0,136.0,7.0,5.95,1.00,255.0,222.0,29.0
1,91.0,16.0,7.38,6.09,884.0,351.0,452.0
2,19.0,2.0,0.13,0.88,138.0,4.0,28.0
3,88.0,14.0,7.26,1.64,947.0,585.0,202.0
4,181.0,19.0,13.84,2.09,808.0,662.0,59.0
...,...,...,...,...,...,...,...
317256,480.0,84.0,25.69,21.26,3744.0,978.0,1579.0
317257,505.0,111.0,21.78,13.17,4284.0,1376.0,638.0
317258,146.0,36.0,6.99,2.15,896.0,205.0,84.0
317259,95.0,13.0,3.66,1.42,367.0,120.0,37.0
317260,3466.0,454.0,121.15,102.33,16853.0,5384.0,5449.0

In [49]:
def FeatureSelectionByPercentile(x,y,percent):
    FeatureSelection = SelectPercentile(score_func= f_classif,percentile=percent)
    x_selected = FeatureSelection.fit_transform(x,y)
    newData=pd.DataFrame(x_selected,columns=[i for i,j in zip(x.columns,FeatureSelection.get_support()) if j])
    newData['y']=y
    return newData

NewData = FeatureSelectionByPercentile(x,y,20)
NewData.head()

   arr_flights  arr_del15  carrier_ct  y
0        136.0        7.0        5.95  C
1         91.0       16.0        7.38  B
2         19.0        2.0        0.13  A
3         88.0       14.0        7.26  B
4        181.0       19.0       13.84  C

In [50]:
from sklearn.feature_selection import SelectKBest

In [51]:
def FeatureSelectionByNumber(x,y,number):
    FeatureSelection = SelectKBest(score_func= f_classif,k=number)
    x_selected = FeatureSelection.fit_transform(x,y)
    newData=pd.DataFrame(x_selected,columns=[i for i,j in zip(x.columns,FeatureSelection.get_support()) if j])
    newData['y']=y
    return newData

NewData = FeatureSelectionByNumber(x,y,5)
NewData.head()

   arr_flights  arr_del15  carrier_ct  late_aircraft_ct  carrier_delay  y
0        136.0        7.0        5.95              1.00          222.0  C
1         91.0       16.0        7.38              6.09          351.0  B
2         19.0        2.0        0.13              0.88            4.0  A
3         88.0       14.0        7.26              1.64          585.0  B
4        181.0       19.0       13.84              2.09          662.0  C

In [58]:
Dict = {'A':0,'B':1,'C':2}
data['ArrClasses'] =data['ArrClasses'].map(Dict)
data

,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,ArrClasses
0,136.0,7.0,5.95,0.00,0.05,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0,2
1,91.0,16.0,7.38,0.00,2.54,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0,1
2,19.0,2.0,0.13,0.00,1.00,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0,0
3,88.0,14.0,7.26,0.76,4.35,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0,1
4,181.0,19.0,13.84,0.00,3.07,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318012,480.0,84.0,25.69,3.09,33.96,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0,2
318013,505.0,111.0,21.78,2.24,73.81,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0,2
318014,146.0,36.0,6.99,0.00,26.85,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0,2
318015,95.0,13.0,3.66,0.00,7.92,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0,1
318016,3466.0,454.0,121.15,7.61,221.91,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0,2

In [61]:
OutputCorr = dict(data.corr()['ArrClasses'])
OutputCorr

{'arr_flights': 0.27369418336662715,
 'arr_del15': 0.26908792414234534,
 'carrier_ct': 0.30974517261193296,
 'weather_ct': 0.18262955788048457,
 'nas_ct': 0.21119321637658633,
 'security_ct': 0.15554442012697614,
 'late_aircraft_ct': 0.2500169081566693,
 'arr_cancelled': 0.1385299081765186,
 'arr_diverted': 0.15364769619468613,
 'arr_delay': 0.24752359138504473,
 'carrier_delay': 0.2585904313982118,
 'weather_delay': 0.17623962450395092,
 'nas_delay': 0.18031152540145673,
 'security_delay': 0.13549948203164472,
 'late_aircraft_delay': 0.24295711987732016,
 'ArrClasses': 1.0}

In [63]:
SortedCorr = {k: v for k, v in sorted(OutputCorr.items(), key=lambda item: item[1], reverse = True)}
SortedCorr

{'ArrClasses': 1.0,
 'carrier_ct': 0.30974517261193296,
 'arr_flights': 0.27369418336662715,
 'arr_del15': 0.26908792414234534,
 'carrier_delay': 0.2585904313982118,
 'late_aircraft_ct': 0.2500169081566693,
 'arr_delay': 0.24752359138504473,
 'late_aircraft_delay': 0.24295711987732016,
 'nas_ct': 0.21119321637658633,
 'weather_ct': 0.18262955788048457,
 'nas_delay': 0.18031152540145673,
 'weather_delay': 0.17623962450395092,
 'security_ct': 0.15554442012697614,
 'arr_diverted': 0.15364769619468613,
 'arr_cancelled': 0.1385299081765186,
 'security_delay': 0.13549948203164472}

In [70]:
from sklearn.decomposition import PCA   # not prefered to be used

In [68]:
PCAModel = PCA(n_components=8, svd_solver='auto')

In [69]:
X_PCA = PCAModel.fit_transform(x)
pd.DataFrame(X_PCA)

,0,1,2,3,4,5,6,7
0,-4530.338630,229.616072,11.875091,-39.658998,-46.638758,8.365755,2.029803,-2.365203
1,-3797.809639,56.673222,-142.463525,-34.272220,47.685692,4.277021,-0.551468,-1.944907
2,-4659.115162,399.334072,-162.838172,18.742613,30.951224,5.634671,2.040450,-0.452773
3,-3758.105092,120.355296,200.600303,-53.557231,74.514943,4.941447,-0.414735,-2.137949
4,-3914.782409,121.491538,342.695009,-128.153173,-7.595582,3.947762,-1.940917,-1.924255
...,...,...,...,...,...,...,...,...
317256,-501.464686,52.813899,-241.937675,-22.783476,-148.037158,-5.193840,-13.836067,-5.736869
317257,70.881859,1235.438573,655.724050,-210.975637,-124.848401,-28.054430,-29.708248,0.362497
317258,-3784.403641,699.748851,-19.804997,-55.341111,-41.099299,-12.086098,-11.922158,0.077639
317259,-4396.340068,432.787530,-70.430756,-19.732454,-19.302945,1.601718,-1.867263,-1.330257
317260,14677.480666,290.033895,1208.107085,-1186.751555,-1932.431142,-55.575757,-60.672520,-17.723156