In [67]:
import pandas as pd

In [69]:
data = pd.read_csv('Train.csv')

In [71]:
data.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0

In [73]:
data.shape

(7000, 21)

In [75]:
data.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,7000.0,7000.000000,6998.000000,6996.000000,6998.000000,6996.000000,6998.000000,6998.000000,6998.000000,6998.000000,6996.000000,6998.000000,6998.000000,6998.000000,6998.000000,6998.000000,6998.000000
mean,2022.0,3.430571,326.557016,66.562035,24.982271,2.154315,16.635191,0.219153,22.552189,8.451558,0.740852,4439.302658,1764.376107,229.522006,781.750786,9.225207,1654.428551
std,0.0,1.179204,892.387229,169.376343,58.331900,7.499063,51.305064,0.831747,64.976936,33.478367,2.750974,12154.383647,4899.573447,889.510969,2598.341444,41.314300,4864.390693
min,2022.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.0,2.000000,45.000000,7.000000,2.890000,0.000000,0.750000,0.000000,1.510000,0.000000,0.000000,389.000000,139.250000,0.000000,23.000000,0.000000,75.000000
50%,2022.0,3.000000,90.000000,17.000000,7.550000,0.400000,3.020000,0.000000,4.785000,1.000000,0.000000,1080.000000,441.000000,19.000000,120.000000,0.000000,315.000000
75%,2022.0,4.000000,214.000000,47.000000,20.230000,1.802500,9.607500,0.000000,14.460000,5.000000,1.000000,2985.750000,1320.000000,150.000000,417.750000,0.000000,1069.750000
max,2022.0,5.000000,18297.000000,2713.000000,1012.390000,208.820000,1391.740000,16.060000,1083.180000,1565.000000,53.000000,205289.000000,102534.000000,24324.000000,84155.000000,1436.000000,76911.000000

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 7000 non-null   int64
 1   month                7000 non-null   int64
 2   carrier              7000 non-null   object
 3   carrier_name         7000 non-null   object
 4   airport              7000 non-null   object
 5   airport_name         7000 non-null   object
 6   arr_flights          6998 non-null   float64
 7   arr_del15            6996 non-null   float64
 8   carrier_ct           6998 non-null   float64
 9   weather_ct           6996 non-null   float64
 10  nas_ct               6998 non-null   float64
 11  security_ct          6998 non-null   float64
 12  late_aircraft_ct     6998 non-null   float64
 13  arr_cancelled        6998 non-null   float64
 14  arr_diverted         6996 non-null   float64
 15  arr_delay            6998 non-null   float64
 16  carrier_delay        6998 non-null   float64
 17  weather_delay        6998 non-null   float64
 18  nas_delay            6998 non-null   float64
 19  security_delay       6998 non-null   float64
 20  late_aircraft_delay  6998 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 1.1+ MB

In [79]:
year = data['year'].tolist()
len(year)

7000

In [81]:
set(year)

{2022}

In [83]:
data['year'].unique()

array([2022], dtype=int64)

In [85]:
set([(i).isalpha() for i in data['airport'].tolist()])

{False, True}

In [87]:
[i for i in data['airport'].tolist() if not i.isalpha()]

['ATW5', 'BOI?']

In [89]:
[i for i in data['airport'].tolist() if not i.isalnum()]

['BOI?']

In [91]:
[i for i in data['airport_name'].tolist() if '#' in i]

['Salt Lak#e City, UT: Salt Lake City International']

In [93]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
year,7000.0,2022.000000,0.000000,2022.0,2022.00,2022.000,2022.0000,2022.00
month,7000.0,3.430571,1.179204,1.0,2.00,3.000,4.0000,5.00
arr_flights,6998.0,326.557016,892.387229,1.0,45.00,90.000,214.0000,18297.00
arr_del15,6996.0,66.562035,169.376343,0.0,7.00,17.000,47.0000,2713.00
carrier_ct,6998.0,24.982271,58.331900,0.0,2.89,7.550,20.2300,1012.39
weather_ct,6996.0,2.154315,7.499063,0.0,0.00,0.400,1.8025,208.82
nas_ct,6998.0,16.635191,51.305064,0.0,0.75,3.020,9.6075,1391.74
security_ct,6998.0,0.219153,0.831747,0.0,0.00,0.000,0.0000,16.06
late_aircraft_ct,6998.0,22.552189,64.976936,0.0,1.51,4.785,14.4600,1083.18
arr_cancelled,6998.0,8.451558,33.478367,0.0,0.00,1.000,5.0000,1565.00
arr_diverted,6996.0,0.740852,2.750974,0.0,0.00,0.000,1.0000,53.00
arr_delay,6998.0,4439.302658,12154.383647,0.0,389.00,1080.000,2985.7500,205289.00
carrier_delay,6998.0,1764.376107,4899.573447,0.0,139.25,441.000,1320.0000,102534.00
weather_delay,6998.0,229.522006,889.510969,0.0,0.00,19.000,150.0000,24324.00
nas_delay,6998.0,781.750786,2598.341444,0.0,23.00,120.000,417.7500,84155.00
security_delay,6998.0,9.225207,41.314300,0.0,0.00,0.000,0.0000,1436.00
late_aircraft_delay,6998.0,1654.428551,4864.390693,0.0,75.00,315.000,1069.7500,76911.00

In [95]:
ALBDataset = data[data['airport']=='ALB']
ALBDataset.to_csv('ALBData.csv')

In [97]:
data[data['late_aircraft_ct']<=5]['month'].value_counts()

month
2    940
5    872
3    864
4    846
1    122
Name: count, dtype: int64

In [99]:
data[data['carrier']=='AA'][data['month']==5][data['weather_ct']<5][data['airport']=='ALB']

C:\Users\Farida\AppData\Local\Temp\ipykernel_3508\3009850798.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['carrier']=='AA'][data['month']==5][data['weather_ct']<5][data['airport']=='ALB']
C:\Users\Farida\AppData\Local\Temp\ipykernel_3508\3009850798.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['carrier']=='AA'][data['month']==5][data['weather_ct']<5][data['airport']=='ALB']
C:\Users\Farida\AppData\Local\Temp\ipykernel_3508\3009850798.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['carrier']=='AA'][data['month']==5][data['weather_ct']<5][data['airport']=='ALB']

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
99,2022,5,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,26.0,9.87,2.1,...,0.14,9.1,0.0,0.0,1673.0,393.0,304.0,274.0,16.0,686.0

In [101]:
data['carrier'].nunique()

17